---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  url: string;
}

const { title, url } = Astro.props;

const encodedTitle = encodeURIComponent(title);
const encodedUrl = encodeURIComponent(url);

const shareLinks = [
  {
    name: "X (Twitter)",
    href: `https://twitter.com/intent/tweet?text=${encodedTitle}&url=${encodedUrl}`,
    icon: "simple-icons:x",
  },
  {
    name: "Facebook",
    href: `https://www.facebook.com/sharer/sharer.php?u=${encodedUrl}`,
    icon: "simple-icons:facebook",
  },
  {
    name: "LinkedIn",
    href: `https://www.linkedin.com/sharing/share-offsite/?url=${encodedUrl}`,
    icon: "simple-icons:linkedin",
  },
  {
    name: "Bluesky",
    href: `https://bsky.app/intent/compose?text=${encodedTitle}${encodedUrl}`,
    icon: "simple-icons:bluesky",
  },
];
---

<div class="flex items-center mt-12 pt-8 gap-4">
  <p>Share this article</p>
  <div class="flex gap-2">
    {
      shareLinks.map((link) => (
        <a
          href={link.href}
          target="_blank"
          class="hover:text-accent transition-colors p-2 rounded-sm hover:bg-accent/5 flex items-center justify-center"
          aria-label={`Share on ${link.name}`}
        >
          <Icon name={link.icon} class="size-4" />
        </a>
      ))
    }
  </div>
</div>
